<div class="container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class=" col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

          <h2> Se connecter</h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, :placeholder => "E-mail", :class => "form-control input-lg"    %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Mot de passe", :class => "form-control input-lg" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me%>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>
            </div>
          </div>
          <hr class="colorgraph">

          <div class="actions">
            <%= f.submit "Log in", :class => "btn btn-primary btn-block btn-lg" %>
          </div>
        </div>

    <% end %>
  </div>
  <%= render "devise/shared/links" %>

</div>
