%h1
  Bienvenue sur le blog de Juliette Rivière !
%div.row.liste_posts

  -@images.all.each do |image|


    / Template de card
    .col-xs-4
      .card
        .card_titre
          / <div class="card_action">
          .card_author
            .media
              %a.pull-left{:href => "#"}
                %img.media-object.dp.img-circle{:alt => "Image Utilisateur", :src => "http://lorempixel.com/400/400/nature"}
            .card_author_content
              %span.card_title
                %a{:href => image_path(image.id), :title => image.titre}
                = image.titre
              %span.card_sub_title Par Juliette Rivière
        / </div>
        .card_image
          %a{:href => image_path(image.id), :title => "Conférence Web2Day"}
            %img.img-responsive{:alt => image.titre, :src => image.url }
        .card_content
          %a{:href => images_path(image.id), :title => "Conférence Web2Day"}
            %p.sous_titre
              = image.titre
              |
              = image.created_at.to_formatted_s(:long_ordinal)
            %p
              = truncate( image.description, length:200)
%div.row.liste_posts
  = will_paginate @images

