%div.images_listing
  %h1 Listing images

  %table.table.table-condensed
    %thead
      %tr
        %th
          Titre
        %th
          Description
        %th
          Image
        %th
          Action

    %tbody
      - @images.each do |image|
        %tr
          %td{:style => "width:25%;"}
            = image.titre
          %td{:style => "width:25%;"}
            = truncate( image.description, length:200)
          %td{:style => "width:25%;"}
            %img.img-responsive{:alt => image.titre, :src => image.url,:style => "width:150px; height:auto;" }
          %td{:style => "width:25%;"}
            %div.btn.btn-primary
              = link_to 'Show', image
            %div.btn.btn-warning
              = link_to 'Edit', edit_image_path(image)
            %div.btn.btn-danger
              = link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Image', new_image_path
