<!DOCTYPE html>
<html>
<head>
  <title>BlogJriviere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="secondNav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><%= link_to "Blog de Juliette Rivière", root_path %></div>
        <a class="navbar-brand-scroll" style="display:none" href="#">Blog de Juliette Rivière</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right ">
          <li class="active "><%= link_to "Accueil", root_path %>

          </li>
          <li><%= link_to "Tous les posts", images_path %></li>
          <li><%= link_to "Ajouter une image", new_image_path %></li>

          <li><%= link_to "Se connecter", user_session_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">

<%= yield %>
</div>
<!-- Footer -->
<footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 copyright">
          <p class="copyright">
            Copyright &copy; 2016 <span class="company">Blog de Juliette Rivière</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
